*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
}

.title {
    color: #000080;
    text-align: center;
    font-size: xx-large;
    background-color: #ffff;
    text-shadow: 1px 1px 1px #1E90FF;
}

/*HERE*/

.required::after {
    color: red;
    content: "*";
    margin-left: 5px;
}

.divMain{
    display: flex;
}

.divForm {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.fields{
    margin-bottom: 5px;
    justify-self: center;
    width: calc(30% - 70px);
}

.lblLeft {
    margin-left: 14.5%;
}

/*Take thead 2 checkboxes*/
.fields label {
    color: #4682B4;
    font-weight: bold;
    font-size: medium;
    margin-right: 10px;
}

/*Take the label*/
.labelForm {
    display: block;
    color: #191970;
    margin-bottom: 0.2em;
}

.divForm, .fields{
    float: left;
    margin-right: 1em;
}

.divBtnSearch {
    margin-top: 35px;
    margin-right: 20px;
    align-self: flex-start;
}

.btnHover {
    color: #ffff;
    background-color: #148eb0;
    box-shadow: 2px 2px 2px #191970;
}

.btnHover:hover {
    color: #ffff;
    background-color: #87CEEB;
}

.btnHover:active {
    color: #ffff;
    background-color: #87CEEB;
    box-shadow: 3px 3px 3px 3px #AEDFFB;
}

.btnSearch {
    font-size: medium;
    border-radius: 50px;
}

.textBox {
    padding: 2%;
    max-width: 300px;
    font-weight: bold;
    border-radius: 5px;
    border-color: #191970;
}

.textBox:focus {
    border-color: #191970;
    background-color: #ADD8E6;
}

.checkBox{
    display: inline-block;
}

.divBtns {
    display: flex;
    margin-top: 4%;
    font-size: medium;
    align-items: center;
    margin-block-end: 3%;
    justify-content: space-around;
}

.counter {
    float: right;
    color: #ffff;
    font-size: 13px;
    font-weight: bold;
    background-color: #148eb0;
    font-family: Verdana, Helvetica, sans-serif;
}

.gridView td{
    font-weight: bold;
}

.gridView tr:hover td {
    background-color: #ADD8E6;
}

.tableHeader {
    color: #1E90FF;
    background-color: pink;
}

.ibtnDelete{
    width: 20px;
    height: 20px;
}