*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B0E0E6;
}

.title {
    font-size: xx-large;
    text-align: center;
    color: #000080;
    background-color: #B0E0E6
}

.required{
    color: red;
    margin-left: 5px;
}

.divMain{
    display: flex;
}

.divForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-left: 0;
}

.fields{
    width: calc(30% - 70px);
    margin-bottom: 5px;
    justify-self: center;
}

.lblLeft {
    margin-left: 12.6%;
}

/*Take thead 2 checkboxes*/
.fields label {
    font-weight: bold;
    font-size: medium;
    margin-right: 10px;
    color: #4682B4
}

/*Take the label*/
span {
    display: block;
    margin-bottom: 0.2em;
    color: #191970;
}

.divForm, .fields{
    float: left;
    margin-right: 1em;
}

.divBtnSearch {
    margin-top: 35px;
    margin-right: 20px;
    align-self: flex-start;
}

.btnHover {
    color: #191970;
    border-color: #87CEEB;
    background-color: #4682B4;
    box-shadow: 2px 2px 2px #4682B4;
    text-shadow: 1px 1px 1px #4682B4;
}

.btnHover:hover {
    Background-color: #ADD8E6;
    box-shadow: 2px 2px 2px #191970;
    text-shadow: none;
}

.btnSearch {
    font-size: medium;
    border-radius: 50px;
}

.textBox {
    border-radius: 5px;
    padding: 2%;
    max-width: 310px;
    border-color: #191970
}

.textBox:focus {
    border-color: #191970;
    background-color: #ADD8E6;
}

.checkBox{
    display: inline-block;
}

.marginLeft{
    margin-left: 10px;
}

.divBtns {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-block-end: 3%;
    font-size: medium;
}

.counter {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
    float: right;
    font-weight: bold;
    color: #B0E0E6;
    background-color: #4682B4;
}

.gridView td{
}

.gridView tr:hover td {
    background-color: #ADD8E6;
}

.tableHeader {
    color: #1E90FF;
    background-color: pink;
}

.ibtnDelete{
    width: 20px;
    height: 20px;
}